sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
numba>=0.51.2
pynndescent
scipy
numpy>=1.18
scikit-learn
tqdm
typer
pandas
cython
